li{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
     margin: 2vw 20vh;
 
     border-radius: 0.7vh;
 }
 
 .border{
     border: 1px solid rgb(193, 211, 212);;
     border-radius: 2px;
     padding-top: 1vh;
     padding-bottom: 1vh;
 }
 .title-done{
     color:rgb(249, 52, 52);
     text-decoration-line: line-through;
     font-size: 20px;
     font-weight: normal;
     text-align: left;
     padding-left: 2vw;
 }
 .title-notDone{
     color:rgb(13, 13, 13);
    
     font-size: 20px;
     font-weight: normal;
     text-align: left;
     padding-left: 2vw; 
 }
 .icons{
     padding-right: 0.1vw;
     padding-right: 3vw;
     display: flex;
     justify-content: space-evenly;
 }
  span{
     padding-right: 2vw;}